.container {
    border-color: green;
    display: inline-block;
    border: 5px solid;
}

.grid {
    display: grid;
    /* grid-template-columns: '';
    grid-template-rows: ''; */
    border-color: red;
    border-style: dashed;
    width: 500px;
    height: 500px;
}
.grid-box {
    display: flex;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    /* width: auto;
    height: auto; */
}
/* 
.grid-box:hover {
    background-color: pink;
} */
