body {
    background-color: black;
}

.container {
    display: inline-block;
}

.grid {
    display: grid;
    /* grid-template-columns: '';
    grid-template-rows: ''; */
    /* border-color: black;
    border-style: solid; */
    border-width: 1px;;
    width: 500px;
    height: 500px;
}
.grid-box {
    display: flex;
    border-color: rgb(78, 77, 77);
    border-style: solid;
    border-width: 1px;
    /* width: auto;
    height: auto; */
}
/* 
.grid-box:hover {
    background-color: pink;
} */
button {
    margin-bottom: 20px;
}